<body style="background-image:url(../assets/img/img8.jpg);background-size:100%;height:600px;">
        <div class="col-sm-12" style="text-align: center;">
                <label for="name" class="control-label"><b>COLOR NAME:</b></label>
                  &nbsp;
                   <mat-form-field  floatLable="auto" appearance="outline" color="warn" style="margin-top:5%">
                          
                           <input matInput type="number" placeholder="COLOR"  >
                       </mat-form-field> 
                  &nbsp;<button mat-raised-button color="primary" >ADD</button> 
           </div><br><br>
</body>           

 
